# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\django & react project\MERAKI_NG_RIMS\rims_ng_backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
